version: 2.1
orbs:
  architect: giantswarm/architect@3.3.0

workflows:
  package-and-push-chart-on-tag:
    jobs:
      - architect/push-to-app-catalog:
          context: "architect"
          # executor: "app-build-suite" # uncomment this if you want automatic metadata generation
          name: "package and push falco chart"
          app_catalog: "control-plane-catalog"
          app_catalog_test: "control-plane-test-catalog"
          chart: "falco-app"
          # Trigger job on git tag.
          filters:
            tags:
              only: /^v.*/
